@import "japan.css";
@import "russia.css";
@import "spain.css";

.logo{
    border: dotted;
    height: 10em;
    width: auto;
}

.nav {
    margin-top: 1em;
    height: 3em;
    border: dotted;
    padding-left: 1em;
    display: flex;
    background-color: salmon;
}

.nav__city{
    border: dotted;
    margin-left: 2em;
    background-color:rgb(74, 189, 145);
    padding: 8px;
}

.nav__city1{
    border: dotted;
    margin-left: 2em;
    background-color:rgb(74, 189, 145);
    padding: 8px;
    text-decoration: overline;
}
/* 
.lists__header{
    border: dotted;
} */

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.country__header {
    font-size: 3em;
    text-align: center;
}

.country__img {
    height: 20em;
    display: block;
    margin: auto;
}

.lists__header {
    font-size: 1.5em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
}

.lists {
    padding: 0.5em;
    margin: 0.5em;
}

.lists__cities, .lists__landmarks, .lists__citizens {
    padding: 0.5em;
    margin: 1em;
}