@import "japan.css";
@import "russia.css";
@import "spain.css";

.logo{
    border: dotted;
    height: 10em;
    width: auto;
}

.nav {
    margin-top: 1em;
    height: 3em;
    border: dotted;
    padding-left: 1em;
    display: flex;
    background-color: salmon;
}

.nav__city{
    margin-left: 2em;
    background-color:rgb(74, 189, 145);
    padding: 8px;
}

.nav__city1{
    border: dotted;
    margin-left: 2em;
    background-color:rgb(74, 189, 145);
    padding: 8px;
    text-decoration: overline;
}

header{
    background-color: teal;
}
.logo{
    margin-top: 3px;
    margin-left: 3px;
    border: solid;
    height: 10em;
    width: 10em;
    border-radius: 3px;

}

.nav {
    margin-top: 5px;
    margin-left: 3px;
    height: 3em;
    border: solid;
    border-color: rgb(41, 46, 46);
    border-radius: 4px;
    border-width: 3px;
    display: flex;
    background-color: rgba(0, 238, 255, 0.404);
    flex: 2;
}

.nav__city{
    border: solid;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2em;
    background-color:rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-width: 2px;
    border-color: rgba(70, 48, 15, 0.589);
    opacity: 0.5;
}

.nav__city1{
    border: solid;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2em;
    background-color:rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-width: 2px;
    border-color: rgba(50, 49, 51, 0.733);
    text-decoration: overline;
}

.lists__header{
    border: dotted;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.country__header {
    font-size: 3em;
    text-align: center;
}

.country__img {
    height: 20em;
    display: block;
    margin: 2em auto;

}

.lists__header {
    font-size: 1.5em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
}

.lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-basis: 15;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.lists__cities, .lists__landmarks, .lists__citizens {
    padding: 0.5em;
    margin: 1em;
}