.russia .lists__cities, .russia .lists__landmarks, .russia .lists__citizens {
    background-color: darkblue;
    color: white;
}

.nav__city{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 15;
    text-align: center;
    border: dotted;
    border: solid;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2em;
    background-color:rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-width: 2px;
    border-color: rgba(99, 61, 4, 0.589);
    opacity: 0.5;
}

.nav__city1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 15;
    text-align: center;
    border: dotted;
    border: solid;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2em;
    background-color:rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-width: 2px;
    border-color: rgba(50, 49, 51, 0.733);
    text-decoration: overline;
}

.lists__cities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 15;
    text-align: center;
}

.lists__landmarks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 15;
    text-align: center;
}

.lists__citizens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 15;
    text-align: center;
}

.lists__header{
    border: dotted;
}
.russia .lists a {
    color: yellow;
}
header{
    background-color: teal;
}

